<!DOCTYPE html>
<html lang="en-US">
<body>

<script src="jquery-1.12.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>
<script type="text/javascript" src="w.js"></script>
<link rel="Stylesheet" type="text/css" href="w.css"/>

<div data-ng-app="app" data-ng-controller="controller" data-ng-init="names=['word','werd','w']">

    <p> after: <input type="text" data-ng-model="after">
        before: <input type="text" data-ng-model="before">
        from: <input type="text" data-ng-model="from">
        to: <input type="text" data-ng-model="to">
        either: <input type="text" data-ng-model="who"></p>

    <button ng-click="search()">search</button>

    <div id="results">
        <div class="artifact-link" data-ng-repeat="artifact in artifacts">
            <div data-ng-click="read(artifact.trove, artifact.key)">
                <div class="artifact-link-col">{{ $index + 1 }}. {{ prettyDateify(artifact.sent) }}</div>
                <div class="artifact-link-col">{{ artifact.from }}</div>
                <div class="artifact-link-col">{{ artifact.to }}</div>
                <div class="artifact-link-col">{{ artifact.subject }}</div>
            </div>
        </div>
    </div>

    <div id="feature-background" data-ng-click="hideFeature()">
        <div id="feature">
            <div>Sent: {{ prettyDateify(feature.sent) }}</div>
            <div>From: {{ feature.from }}</div>
            <div>To: {{ feature.to }}</div>
            <div>Subject: {{ feature.subject }}</div>
            <div ng-bind-html="bodyify(feature.body)"></div>
        </div>
    </div>

</div>

</body>
</html>