html {
    height: 100%;
    overflow: auto;
}

div.artifact-link:hover {
    border: 1px solid gray;
    background-color: rgba(100,100,100,0.5);
    cursor: pointer;
}

#results {
    display: table;
}

div.artifact-link {
    border: 1px solid red;
    display: table-row;
}

div.artifact-link-col {
    padding: 2px;
    display: table-cell;
    margin-right: 20px;
}

#feature-background {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#feature {
    max-height:100%;
    overflow-y: auto;
    font-size: 1.1em;
    color: white;
    margin-left: 100px;
    margin-top: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: 100%;
    background-color: black;
}